@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

.main-image {
  /* The image used */
  background-image: url("./images/doggrooming-1280x853.jpg");
  background-size: cover;
  background-position: center;
  height: 50vh;
}
